/* .bg-button {
    --tw-bg-opacity: 1;
    background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
  } */



.bg-button {
  background-color: #D5E4F3;
}

.bg-selected {
  background-color: #db2777;
}

.bg-active-button {
  background-color: #5793CF;
}

.bg-hover-button {
  background-color: #C4D9EE;
}

.bg-base {
  background-color: #FAFCFC;
}

b {
  font-weight: 800;
  color: #242424;
}

.bg-body {
  background-color: #FAFCFC;
}